.action-container {
  color: var(--textColorOne);
  padding: 51px 100px;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  gap: 60px;
  font-family: var(--oswaldFont);
}

.action-container-left {
  flex: 1.1;
}

.action-container-left .heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: var(--textColorTwo);
  margin-bottom: 30px;
  text-align: center;
}

.action-container-left .accordion-container {
  margin-bottom: 20px;
}

.action-container-left .accordion-container .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.action-container-left .accordion-container .accordion-header .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--textColorSeven);
  margin: 0;
}

.action-container-left .accordion-container .accordion-header .circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--textColorOne);
  border-radius: 50%;
  position: relative;
}

.action-container-left .accordion-container .accordion-header .circle span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--textColorOne);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-container-left .accordion-container .drop-down-container {
  padding: 0 10px;
}

.action-container-left .accordion-container .drop-down-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 1px solid #464646;
}

.action-container-left .accordion-container .drop-down-header p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.action-container-left .accordion-container .drop-down-header .arrow-icon {
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.action-container-left .accordion-container .drop-down-header.active p {
  color: var(--textColorSeven);
}

.action-container-left
  .accordion-container
  .drop-down-header.active
  .arrow-icon {
  color: var(--textColorSeven);
  transform: rotate(-180deg);
}

.action-container-left
  .accordion-container
  .drop-down-container.active
  .drop-down-header {
  color: var(--textColorEighth);
}

.action-container-left .accordion-container .drop-down-body {
  height: 0;
  transition: 0.2s ease-in-out;
  background-color: var(--bgColor);
}

.action-container-left .accordion-container .drop-down-body.active {
  height: auto;
  z-index: 10;
}

.action-container-left .checkbox-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.action-container-left
  .accordion-container
  .drop-down-body.active
  .checkbox-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  opacity: 1;
}

.action-container-left .check-box-container label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.action-container-left .check-box-container input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--textColorOne);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.action-container-left .check-box-container input[type='checkbox']:after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 14px;
  content: '\f00c';
  color: var(--black);
  display: none;
}

.action-container-left
  .check-box-container
  input[type='checkbox']:checked:after {
  display: block;
}

.action-container-left .price-container {
  margin-top: 63px;
  margin-bottom: 16px;
}

.action-container-left .sort-container {
  margin-top: 16px;
}

.action-container-left .price-container .title,
.currency-container .title,
.sort-container .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* margin-bottom: 16px; */
}

.action-container-left .price-container .price-content,
.currency-container .currency-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.action-container-left .price-container .price-select-cont,
.currency-container .currency-select-cont {
  width: 32px;
  height: 18px;
  border: 1px solid var(--borderColorTwo);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-container-left .price-container .check-box-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action-container-left .sort-container .sort-content {
  padding: 0 10px;
}

.action-container-left .sort-container .radio-btn-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
}

.action-container-left .sort-container .radio-btn-cont label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.action-container-left .sort-container .radio-btn-cont input[type='radio'] {
  display: none;
}

.action-container-left .sort-container .radio-btn-cont span {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--textColorOne);
  border-radius: 50%;
  position: relative;
}

.action-container-left .sort-container .radio-btn-cont span:after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--textColorOne);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.action-container-left
  .sort-container
  .radio-btn-cont
  input[type='radio']:checked
  ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

.action-container-right {
  flex: 5;
  height: 100vh;
  position: relative;
}

.action-container-right .currency-select-container {
  width: 220px;
  height: 241px;
  background-color: var(--bgColorTwo);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 12px;
}

.action-container-right .currency-select-container .header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 5px 14px 5px;
  border-bottom: 1px solid var(--textColorOne);
  cursor: pointer;
}

.action-container-right .currency-select-container .header p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.action-container-right .currency-select-container .header .arrow-icon {
  font-size: 24px;
}

.action-container-right .currency-select-container .body {
  padding: 11px 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.action-container-right .currency-select-container .body p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.action-container-right-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 40px;
}

.action-container-right .action-card-container {
  width: 154px;
  height: 208px;
}

.action-container-right .action-card-container .card {
  background-color: var(--bgColorSeven);
  height: 208px;
  width: 100%;
  border-radius: 8px;
}

.action-container-right .card .card-top img {
  border-radius: 8px 8px 0px 0px;
}

.action-container-right .card .card-center {
  padding: 7px 10px 20px 10px;
  border-bottom: 1px solid #343741;
}

.action-container-right .card .card-center .title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--textColorTwo);
}

.action-container-right .card .card-center .sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
}

.action-container-right .card .card-bottom {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-container-right .card .card-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorTwo);
  margin: 0;
}

.action-container-right .card .card-bottom button {
  border: 1px solid var(--textColorTwo);
  filter: drop-shadow(0px 0px 24px rgba(253, 230, 63, 0.4));
  border-radius: 999px;
  font-weight: 400;
  font-size: 8px;
  color: var(--textColorTwo);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px 4px 12px;
}
