.marketplace-container {
  color: var(--textColorOne);
  padding: 51px 100px;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  gap: 80px;
  font-family: var(--oswaldFont);
}

.price-select-cont.active {
  transform: rotate(-180deg);
}
.currency-select-cont.active {
  transform: rotate(-180deg);
}

.marketplace-container-left {
  flex: 1.1;
}

.marketplace-container-left .heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: var(--textColorTwo);
  margin-bottom: 30px;
  text-align: center;
}

.marketplace-container-left .accordion-container {
  margin-bottom: 20px;
}

.marketplace-container-left .accordion-container .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.marketplace-container-left .accordion-container .accordion-header .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--textColorSeven);
  margin: 0;
}

.marketplace-container-left .accordion-container .accordion-header .circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--textColorOne);
  border-radius: 50%;
  position: relative;
}

.marketplace-container-left
  .accordion-container
  .accordion-header
  .circle
  span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--textColorOne);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marketplace-container-left .accordion-container .drop-down-container {
  padding: 0 18px;
}

.marketplace-container-left .accordion-container .drop-down-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 1px solid #464646;
}

.marketplace-container-left .accordion-container .drop-down-header p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.marketplace-container-left .accordion-container .drop-down-header .arrow-icon {
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.marketplace-container-left .accordion-container .drop-down-header.active p {
  color: var(--textColorSeven);
}

.marketplace-container-left
  .accordion-container
  .drop-down-header.active
  .arrow-icon {
  color: var(--textColorSeven);
  transform: rotate(-180deg);
}

.marketplace-container-left
  .accordion-container
  .drop-down-container.active
  .drop-down-header {
  color: var(--textColorEighth);
}

.marketplace-container-left .accordion-container .drop-down-body {
  height: 0;
  transition: 0.2s ease-in-out;
  background-color: var(--bgColor);
}

.marketplace-container-left .accordion-container .drop-down-body.active {
  height: auto;
  z-index: 10;
}

.marketplace-container-left .checkbox-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.marketplace-container-left
  .accordion-container
  .drop-down-body.active
  .checkbox-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  opacity: 1;
}

.marketplace-container-left
  .accordion-container
  .drop-down-header
  .check-box-container
  label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.marketplace-container-left
  .accordion-container
  .drop-down-header
  .check-box-container
  input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--textColorOne);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.marketplace-container-left
  .accordion-container
  .drop-down-header
  .check-box-container
  input[type='checkbox']:after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 14px;
  content: '\f00c';
  color: var(--black);
  display: none;
}

.marketplace-container-left
  .accordion-container
  .drop-down-header
  .check-box-container
  input[type='checkbox']:checked:after {
  display: block;
}

.marketplace-container-left .price-container {
  margin-top: 60px;
  margin-bottom: 16px;
}
.price-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketplace-container-left .price-container .title,
.currency-container .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.marketplace-container-left .price-container .price-select-cont,
.currency-container .currency-select-cont {
  width: 32px;
  height: 18px;
  border: 1px solid var(--borderColorTwo);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketplace-container-left .price-container .check-box-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.marketplace-container-right {
  position: relative;
}
.currency-select-container {
  position: fixed;
  top: 30%;
}
.marketplace-container-right .currency-select-container {
  width: 220px;
  height: 241px;
  background-color: var(--bgColorTwo);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 12px;
}
.check-boxs-container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

.check-boxs-container label {
  font-size: 16px;
}

.marketplace-container-right .currency-select-container .header {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 14px 5px;
  border-bottom: 1px solid var(--textColorOne);
  cursor: pointer;
}

.marketplace-container-right .currency-select-container .header p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.marketplace-container-right .currency-select-container .header .arrow-icon {
  font-size: 24px;
}

.marketplace-container-right .currency-select-container .body {
  padding: 11px 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.marketplace-container-right .currency-select-container .body p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.marketplace-container-right-content {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  row-gap: 25px;
  column-gap: 15px;
}

.marketplace-container-right .marketplace-card-container .card {
  height: 250px;
  border-radius: 8px;
  gap: 30px;
  margin-left: 0px;
}

.marketplace-container-right .card .card-top {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  place-items: center;
}

.marketplace-container-right .card .card-loader {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 8px 8px 0px 0px;
}

.marketplace-container-right .card .card-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0px 0px;
}

.marketplace-container-right .card .card-center {
  padding: 7px 10px 10px 10px;
}

.marketplace-container-right .card .card-center .title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--textColorTwo);
}

.marketplace-container-right .card .card-center .sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
}

.marketplace-container-right .card .card-bottom {
  padding: 0px 8px 0;
  border-top: 1px solid #343741;
  width: 140px;
}
.card-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-left: -10px;
}

.marketplace-container-right .card .card-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorTwo);
  margin: 0;
}

.marketplace-container-right .card .card-bottom button {
  border: 1px solid var(--textColorTwo);
  filter: drop-shadow(0px 0px 24px rgba(253, 230, 63, 0.4));
  border-radius: 999px;
  font-weight: 400;
  font-size: 8px;
  color: var(--textColorTwo);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px 4px 12px;
  margin: 8px auto;
  width: 105%;
}
