.shop-setting-one-container {
  display: flex;
  padding: 0px 130px;
  color: var(--textColorOne);
  gap: 150px;
}

.shop-setting-one-container .shop-setting-one-container-left {
  flex: 2;
  font-family: var(--oswaldFont);
  margin-bottom: 40px;
}

.shop-setting-one-container .shop-setting-one-container-right {
  flex: 6;
  font-family: var(--oswaldFont);
  padding: 30px;
}

.shop-setting-one-container-right .heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
}

.shop-setting-one-container-right .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 66px;
  margin-top: 66px;
  padding-left: 40px;
}

.shop-setting-one-container-right .cards-container .card {
  width: 200px;
  height: 200px;
  /* background-color: var(--bgColorTwo); */
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}

.shop-setting-one-container-right .cards-container .card p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.shop-setting-one-container-right .cards-container .card .card-img-1 {
  filter: drop-shadow(0px 0px 30px #25a1ff);
}

.shop-setting-one-container-right .cards-container .card .card-img-2 {
  filter: drop-shadow(0px 0px 30px #84ff97);
}

.shop-setting-one-container-right .cards-container .card .card-img-3 {
  filter: drop-shadow(0px 0px 30px #ffaa00);
}

.shop-setting-one-container-right .cards-container .card .card-img-4 {
  filter: drop-shadow(0px 0px 30px #ff5668);
}

.shop-setting-one-container-right .cards-container .card .card-img-5 {
  filter: drop-shadow(0px 0px 30px #a46cff);
}

.shop-setting-one-container-right .cards-container .card .card-img-6 {
  filter: drop-shadow(0px 0px 30px #ff8a48);
}

.stock-management-container,
.appearance-settings-container,
.residual-container,
.sell-container {
  width: 100%;
  /* background-color: var(--bgColorTwo); */
  border-radius: 10px;
  margin-top: 10px;
  padding: 27px;
  position: relative;
}

.stock-management-container .arrow-icon,
.residual-container .arrow-icon,
.sell-container .arrow-icon {
  font-size: 30px;
  position: absolute;
  top: 27px;
  left: 27px;
  cursor: pointer;
}

.stock-management-container .title,
.appearance-settings-container .title,
.residual-container .title,
.sell-container .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
}

.stock-management-container .stock-management-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.stock-management-container .stock-management-card {
  width: 100%;
  height: 176px;
  border: 0.5px solid var(--textColorOne);
  border-radius: 3px;
  padding: 22px;
  display: flex;
  align-items: center;
  font-family: var(--montserratFont);
}

.stock-management-container .card-content .title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  margin-bottom: 8px;
}

.stock-management-container .card-content .desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 12px;
}

.stock-management-container .card-content button {
  padding: 4px 30px;
  height: 38px;
  background: transparent;
  border: 1px solid var(--textColorTwo);
  border-radius: 999px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--textColorOne);
  font-family: var(--oswaldFont);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.stock-management-container .card-content button:hover {
  /* background: var(--textColorTwo); */
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
}

.stock-management-container .prev-arrow-icon,
.appearance-settings-container .prev-arrow-icon {
  font-size: 30px;
  position: absolute;
  top: 27px;
  left: 27px;
  cursor: pointer;
}

.stock-management-container .next-arrow-icon,
.appearance-settings-container .next-arrow-icon {
  font-size: 30px;
  position: absolute;
  top: 27px;
  right: 27px;
  cursor: pointer;
}

.sub-menu-container {
  width: 100%;
  padding: 65px 97px 0 97px;
}

.sub-menu-container .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 45px;
}

.sub-menu-container .content {
  display: flex;
}

.sub-menu-container .content-left,
.sub-menu-container .content-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.sub-menu-container .content-left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.sub-menu-container .content-right input,
.dropdown-cont,
select {
  width: 454px;
  height: 27px;
  background-color: var(--textColorOne);
  border: 0;
  outline: 0;
  padding: 3px 16px;
}

.sub-menu-container .content-right input::placeholder,
select {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
  font-family: var(--oswaldFont);
}

.stock-management-container .item-info-sub-menu-container .content-right input,
.quantity-price-shipment-sub-menu-container .content-right input {
  text-align: center;
}

.stock-management-container
  .item-info-sub-menu-container
  .content-right
  .dropdown-cont {
  position: relative;
  cursor: pointer;
}

.stock-management-container
  .item-info-sub-menu-container
  .content-right
  .dropdown-cont
  p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
  font-family: var(--oswaldFont);
}

.stock-management-container
  .item-info-sub-menu-container
  .content-right
  .dropdown-cont
  .arrow-icon-2 {
  font-size: 23px;
  position: absolute;
  top: 50%;
  right: -10px;
  color: black;
  transform: translate(-50%, -50%);
}

.stock-management-container
  .item-info-sub-menu-container
  .content-right
  .dropdown-cont
  .drop-down-body {
  width: 100%;
  height: 210px;
  /* background-color: var(--textColorOne); */
  position: absolute;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.stock-management-container .description-sub-menu-container .content-left,
.appearance-settings-sub-menu-container .content-left,
.brief-description-sub-menu-container .content-left,
.residual-container-sub-menu-container .content-left {
  width: 30%;
}

.stock-management-container .description-sub-menu-container .content-right,
.appearance-settings-sub-menu-container .content-right,
.brief-description-sub-menu-container .content-right,
.residual-container-sub-menu-container .content-right {
  width: 70%;
}

.stock-management-container .description-sub-menu-container .content-right,
.residual-container-sub-menu-container .content-right input,
select {
  width: 100%;
  text-align: center;
  position: relative;
}

.stock-management-container
  .quantity-price-shipment-sub-menu-container
  .btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stock-management-container
  .quantity-price-shipment-sub-menu-container
  .btn-cont
  button {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--textColorTwo); */
  border: 1px solid var(--textColorTwo);
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
  border-radius: 999px;
  padding: 4px 50px;
  border: 0;
  outline: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--textColorOne);
  cursor: pointer;
}

.stock-management-remove-item-container {
  margin-top: 53px;
}

.stock-management-remove-item-container .remove-item-cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 28px;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card {
  width: 154px;
  height: 205px;
  background: var(--bgColorSeven);
  border-radius: 0px 0px 8px 8px;
  position: relative;
  overflow: hidden;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-top
  img {
  border-radius: 8px 8px 0px 0px;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-center {
  padding: 7px 10px 20px 10px;
  border-bottom: 1px solid #343741;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-center
  .title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--textColorTwo);
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-center
  .sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-bottom {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-bottom
  p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorTwo);
  margin: 0;
}

.stock-management-remove-item-container
  .remove-item-cards-container
  .remove-item-card
  .card-bottom
  button {
  border: 1px solid var(--textColorTwo);
  filter: drop-shadow(0px 0px 24px rgba(253, 230, 63, 0.4));
  border-radius: 999px;
  font-weight: 400;
  font-size: 8px;
  color: var(--textColorTwo);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px 4px 12px;
}

.stock-management-remove-item-container .remove-item-card .card-overlay {
  background: rgba(0, 0, 0, 0.82);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.stock-management-remove-item-container .remove-item-card .card-overlay button {
  width: 91px;
  height: 21px;
  background-color: var(--textColorTwo);
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: var(--textColorOne);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--oswaldFont);
  cursor: pointer;
}

.stock-management-remove-item-container .remove-item-card:hover .card-overlay {
  top: 0;
}

.stock-management-remove-item-container .remove-card-bottom {
  margin-top: 9px;
}

.stock-management-remove-item-container .remove-card-bottom p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 2px;
}

.appearance-settings-container .btn-cont,
.brief-description-sub-menu-container .btn-cont,
.residual-container-sub-menu-container .btn-cont,
.transfer-sub-menu-container .btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.appearance-settings-container .btn-cont button,
.brief-description-sub-menu-container .btn-cont button,
.residual-container-sub-menu-container button,
.transfer-sub-menu-container .btn-cont button {
  height: 38px;
  padding: 4px 50px;
  background: var(--textColorTwo);
  border: 1px solid var(--textColorTwo);
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
  border-radius: 999px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--textColorOne);
  font-family: var(--oswaldFont);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.brief-description-sub-menu-container .content-left {
  gap: 228px;
}

.brief-description-sub-menu-container .content-right {
  gap: 50px;
}

.brief-description-sub-menu-container textarea {
  resize: none;
  outline: 0;
  padding: 5px 10px;
  width: 454px;
}

.residual-container {
  position: relative;
}

.residual-container-sub-menu-container .content {
  gap: 10px;
}

.residual-container-sub-menu-container .content-left {
  gap: 32px;
}

.residual-container-sub-menu-container .content-right {
  gap: 40px;
}

.residual-container-sub-menu-container .add-getter-cont {
  display: flex;
  align-items: center;
  gap: 14px;
}

.residual-container-sub-menu-container .add-getter-cont .address {
  width: 75%;
}

.residual-container-sub-menu-container .add-getter-cont .share {
  width: 25%;
}

.transfer-sub-menu-container input {
  width: 100%;
  height: 27px;
  background-color: var(--textColorOne);
  outline: 0;
  border: 0;
  padding: 3px 10px;
}

.sell-container {
  background-color: transparent;
}

.put-on-sale-sub-menu-container {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.put-on-sale-sub-menu-container .card {
  width: 100%;
  height: 300px;
  background: var(--bgColorTwo);
  border: 1px solid var(--textColorOne);
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.put-on-sale-sub-menu-container .card .card-right {
  padding: 23px;
}

.put-on-sale-sub-menu-container .card .card-right .card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.put-on-sale-sub-menu-container .card .card-right .desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--montserratFont);
  margin: 13px 0 23px 0;
}

.put-on-sale-sub-menu-container .card .card-right button {
  background: var(--textColorTwo);
  border: 1px solid var(--textColorTwo);
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
  border-radius: 999px;
  height: 38px;
  padding: 4px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--oswaldFont);
  color: var(--textColorOne);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sell-container .on-marketplace-container {
  margin-top: 33px;
  width: 100%;
}

.sell-container .on-marketplace-container .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.on-marketplace-container .on-marketplace-sub-container {
  margin-top: 53px;
  width: 100%;
  padding: 0px 50px 0 50px;
}

.on-marketplace-container .on-marketplace-sub-container .content {
  display: flex;
  gap: 57px;
}

.on-marketplace-container .on-marketplace-sub-container .content-left {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.on-marketplace-container .on-marketplace-sub-container .content-left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.on-marketplace-container .on-marketplace-sub-container .content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.on-marketplace-container .on-marketplace-sub-container .content-right select {
  width: 100%;
  height: 35px;
  border-radius: 3px;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container {
  display: flex;
  gap: 20px;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .left
  input {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 3px;
  height: 35px;
  padding: 3px 10px;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .left
  button {
  width: 100%;
  padding: 4px 50px;
  height: 38px;
  background: var(--textColorTwo);
  border: 1px solid var(--textColorTwo);
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
  border-radius: 999px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--oswaldFont);
  color: var(--textColorOne);
  cursor: pointer;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right {
  width: 50%;
  height: 70px;
  background-color: var(--bgColorTwo);
  padding: 14px;
  transition: 0.2s ease-in-out;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right.active {
  height: auto;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--textColorOne);
  padding-bottom: 14px;
  cursor: pointer;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right
  .header
  p,
.body p {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right
  .body {
  text-align: center;
  padding: 11px 0;

  display: none;
  transition: 0.2s ease-in-out;
}

.on-marketplace-container
  .on-marketplace-sub-container
  .price-select-container
  .right
  .body.active {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.selectFileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 70px;
  text-align: center;
}
.files {
  background: #1e1e2c;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.files img {
  width: 50%;
}
.files h5 {
  font-size: 28px;
  margin-bottom: 20px;
}
