<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="website" property="og:type" />
    <meta content="" property="og:description" />
    <meta content="" property="og:title" />
    <meta content="" name="description" />
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&amp;display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://dapplink.netlify.app/template.css" />
  </head>

  <body>
    <div class="template-blue">
      <div class="bee-page-container">
        <div class="bee-row bee-row-1">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w2">
              <div class="bee-block bee-block-1 bee-image">
                <a href="https://www.example.com/">
                  <h1>Logo</h1>
                </a>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w8">
              <div class="bee-block bee-block-1 bee-menu">
                <nav class="bee-menu">
                  <input
                    class="bee-hamburger-trigger"
                    id="bee-hamburger-memu-r0c1m0"
                    type="checkbox"
                  /><label
                    class="bee-hamburger-controls"
                    for="bee-hamburger-memu-r0c1m0"
                    ><span class="bee-hamburger-open"></span
                    ><span class="bee-hamburger-close"></span
                  ></label>
                  <ul class="bee-horizontal with-bee-hamburger">
                    <li>
                      <a href="#job-offer" target="_self" title=""
                        >Job Offers</a
                      >
                    </li>
                    <li>
                      <a href="#about-us" target="_self" title="">About us</a>
                    </li>
                    <li>
                      <a href="#register" target="_self" title="">Register</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w2">
              <div class="bee-block bee-block-1 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 28px;
                    font-family: inherit;
                    background-color: #ffffff;
                    border-radius: 8px;
                    border-top: 0px solid #8a3b8f;
                    border-right: 0px solid #8a3b8f;
                    border-bottom: 0px solid #8a3b8f;
                    border-left: 0px solid #8a3b8f;
                    color: var(--header-link);
                    padding-top: 5px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    width: auto;
                    max-width: 100%;
                    font-weight: 400;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 200%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 14px; line-height: 28px"
                      >Start a Free trial</span
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-2">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w6">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height: 80px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-heading">
                <h1
                  style="
                    color: var(--header-link);
                    font-size: 65px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: 400;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <span class="tinyMce-placeholder"
                    >People &amp; Culture
                    <span style="color: var(--primary)"
                      >hiring cloud</span
                    ></span
                  >
                </h1>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    font-family: inherit;
                    color: var(--header-link);
                  "
                >
                  <p style="line-height: 18px">
                    <span style="font-size: 20px; line-height: 30px"> </span>
                  </p>
                  <p style="font-size: 24px; line-height: 36px">
                    <span style="font-size: 24px; line-height: 36px"
                      >Lorem ipsum dolor sit, </span
                    ><span
                      style="background-color: transparent; line-height: 18px"
                      >consectetur adipiscing <br />elit Iaculi.</span
                    >
                  </p>
                  <p style="line-height: 18px">
                    <span style="font-size: 24px; line-height: 36px"> </span>
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 28px;
                    font-family: 'Lora', Georgia, serif;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 0px solid #8a3b8f;
                    border-right: 0px solid #8a3b8f;
                    border-bottom: 0px solid #8a3b8f;
                    border-left: 0px solid #8a3b8f;
                    color: #ffffff;
                    padding-top: 5px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    width: auto;
                    max-width: 100%;
                    font-weight: 400;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 200%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 22px; line-height: 44px"
                      >Learn More</span
                    ></span
                  ></a
                >
              </div>
              <div class="bee-block bee-block-5 bee-spacer">
                <div class="spacer" style="height: 45px"></div>
              </div>
              <div class="bee-block bee-block-6 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    font-family: 'Lora', Georgia, serif;
                    color: var(--primary);
                  "
                >
                  <p style="line-height: 21px; font-size: 14px">
                    <span style="font-size: 14px; line-height: 21px"> </span>
                  </p>
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 16px; line-height: 24px"
                      >* trusted by more than 20994 companies</span
                    >
                  </p>
                  <p style="line-height: 21px; font-size: 14px">
                    <span style="font-size: 14px; line-height: 21px"> </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w6">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height: 50px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-image">
                <img
                  alt="Hiring Cloud Hero Placeholder"
                  class="bee-center bee-fixedwidth"
                  src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/hero-image-min__1_.png"
                  style="max-width: 615px"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-3">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-4">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w4">
              <div class="bee-block bee-block-1 bee-heading">
                <h2
                  style="
                    color: var(--primary);
                    font-size: 40px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: 400;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <span class="tinyMce-placeholder"
                    >Lorem ipsum <br />dolor sit amet</span
                  >
                </h2>
              </div>
              <div class="bee-block bee-block-2 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 180%;
                    color: var(--header-link);
                    font-family: inherit;
                  "
                >
                  <p style="line-height: 18px">
                    <span style="font-size: 18px; line-height: 27px"> </span>
                  </p>
                  <p
                    style="font-size: 18px; line-height: 27px; text-align: left"
                  >
                    <span style="font-size: 18px; line-height: 27px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                  <p style="line-height: 18px">
                    <span style="font-size: 18px; line-height: 27px"> </span>
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-3 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 28px;
                    font-family: 'Lora', Georgia, serif;
                    background-color: transparent;
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: var(--primary);
                    padding-top: 5px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    width: auto;
                    max-width: 100%;
                    font-weight: 400;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 200%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 22px; line-height: 44px"
                      >Browse More</span
                    ></span
                  ></a
                >
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-5">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w4">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-6">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w4">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w4">
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: normal;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  Sales Assistant at<br />Lorem Ipsum
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    text-align: left;
                    color: #073162;
                    font-family: inherit;
                  "
                >
                  <p style="font-size: 14px; line-height: 21px">
                    <span style="font-size: 18px; line-height: 27px"
                      ><strong>$85.000 to $190.000</strong></span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-divider">
                <div
                  class="center bee-separator"
                  style="border-top: 1px solid #f0f2f6; width: 100%"
                ></div>
              </div>
              <div class="bee-block bee-block-5 bee-text">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #393d47;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 16px; text-align: left"
                  >
                    <span style="font-size: 16px; line-height: 19px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-family: inherit;
                    background-color: var(--primary);
                    border-radius: 2px;
                    border-top: 2px solid var(--primary);
                    border-right: 2px solid var(--primary);
                    border-bottom: 2px solid var(--primary);
                    border-left: 2px solid var(--primary);
                    color: #ffffff;
                    padding-top: 4px;
                    padding-right: 16px;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 150%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 16px; line-height: 24px"
                      >Apply</span
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-7">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 40px"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w6">
              <div class="bee-block bee-block-1 bee-divider" id="services">
                <div class="spacer" style="height: 22px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-heading">
                <h2
                  style="
                    color: #ffffff;
                    font-size: 43px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: 400;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <span class="tinyMce-placeholder"
                    >What you can expect working at P&amp;C</span
                  >
                </h2>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w6">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 40px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-text" id="about-us">
                <div
                  class="bee-text-content"
                  style="
                    font-size: 14px;
                    line-height: 150%;
                    color: #ffffff;
                    font-family: inherit;
                  "
                >
                  <p
                    style="font-size: 14px; line-height: 21px; text-align: left"
                  >
                    <span style="font-size: 22px; line-height: 33px"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ac, enim feugiat vitae duis. Imperdiet sit aliquet morbi
                      lorem quam.</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-9">
          <div class="bee-row-content reverse">
            <div class="bee-col bee-col-1 bee-col-w5">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 70px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-heading">
                <h3
                  style="
                    color: var(--primary);
                    font-size: 26px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: left;
                    direction: ltr;
                    font-weight: 400;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <span class="tinyMce-placeholder"
                    >Benefits include:<br
                  /></span>
                </h3>
              </div>
              <div class="bee-block bee-block-3 bee-icons">
                <div class="bee-icon bee-icon-last">
                  <div class="bee-content">
                    <div class="bee-icon-image">
                      <img
                        alt="Lorem ipsum dolor sit amet"
                        height="32px"
                        src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/check-icon.png"
                        width="auto"
                      />
                    </div>
                    <div class="bee-icon-label bee-icon-label-right">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </div>
              <div class="bee-block bee-block-4 bee-icons">
                <div class="bee-icon bee-icon-last">
                  <div class="bee-content">
                    <div class="bee-icon-image">
                      <img
                        alt="Lorem ipsum dolor sit amet"
                        height="32px"
                        src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/check-icon.png"
                        width="auto"
                      />
                    </div>
                    <div class="bee-icon-label bee-icon-label-right">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </div>
              <div class="bee-block bee-block-5 bee-icons">
                <div class="bee-icon bee-icon-last">
                  <div class="bee-content">
                    <div class="bee-icon-image">
                      <img
                        alt="Lorem ipsum dolor sit amet"
                        height="32px"
                        src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/check-icon.png"
                        width="auto"
                      />
                    </div>
                    <div class="bee-icon-label bee-icon-label-right">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </div>
              <div class="bee-block bee-block-6 bee-icons">
                <div class="bee-icon bee-icon-last">
                  <div class="bee-content">
                    <div class="bee-icon-image">
                      <img
                        alt="Lorem ipsum dolor sit amet"
                        height="32px"
                        src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/check-icon.png"
                        width="auto"
                      />
                    </div>
                    <div class="bee-icon-label bee-icon-label-right">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </div>
              <div class="bee-block bee-block-7 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w7">
              <div class="bee-block bee-block-1 bee-image">
                <img
                  alt=""
                  class="bee-fixedwidth bee-fullwidthOnMobile"
                  src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/6986/image-btm-min.png"
                  style="max-width: 681px"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-10">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-button">
                <a
                  class="bee-button-content"
                  href="https://www.example.com/"
                  style="
                    font-size: 14px;
                    line-height: 28px;
                    font-family: 'Lora', Georgia, serif;
                    background-color: transparent;
                    border-radius: 2px;
                    border-top: 2px solid #ffffff;
                    border-right: 2px solid #ffffff;
                    border-bottom: 2px solid #ffffff;
                    border-left: 2px solid #ffffff;
                    color: #ffffff;
                    padding-top: 5px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    width: auto;
                    max-width: 100%;
                    font-weight: 400;
                    display: inline-block;
                  "
                  ><span
                    style="
                      font-size: 16px;
                      line-height: 200%;
                      word-break: break-word;
                    "
                    ><span style="font-size: 22px; line-height: 44px"
                      >More about P&amp;C</span
                    ></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-11">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height: 40px"></div>
              </div>
              <div class="bee-block bee-block-2 bee-heading">
                <h2
                  style="
                    color: var(--header-link);
                    font-size: 50px;
                    font-family: 'Lora', Georgia, serif;
                    line-height: 120%;
                    text-align: center;
                    direction: ltr;
                    font-weight: 400;
                    letter-spacing: normal;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  <span class="tinyMce-placeholder"
                    >Find your
                    <span style="color: var(--primary)">dream job</span></span
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-12">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w2">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w8">
              <div class="bee-block bee-block-1 bee-form" id="register">
                <form
                  accept-charset="UTF-8"
                  action="ACTION_PLACEHOLDER"
                  autocomplete="on"
                  enctype="multipart/form-data"
                  method="post"
                  target="_self"
                >
                  <div class="bee-form-row">
                    <div class="bee-field bee-field-r11c1m0i1">
                      <label for="r11c1m0i1">First Name</label
                      ><input
                        id="r11c1m0i1"
                        name="firstname"
                        required=""
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="bee-form-row">
                    <div class="bee-field bee-field-r11c1m0i2">
                      <label for="r11c1m0i2">Last Name</label
                      ><input
                        id="r11c1m0i2"
                        name="lastname"
                        required=""
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="bee-form-row">
                    <div class="bee-field bee-field-r11c1m0i3">
                      <label for="r11c1m0i3">Email</label
                      ><input
                        id="r11c1m0i3"
                        name="email"
                        required=""
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="bee-form-row">
                    <div
                      class="bee-field bee-field-r11c1m0i10 bee-inline-field"
                    >
                      <span class="bee-form-option-wrapper"
                        ><input
                          id="r11c1m0i10"
                          name="privacy_policy"
                          type="checkbox"
                        /><label class="inline" for="r11c1m0i10"
                          >I agree to the
                          <a href="https://your_privacy_url"
                            >Privacy Policy</a
                          ></label
                        ></span
                      >
                    </div>
                  </div>
                  <div class="bee-form-row">
                    <div class="bee-field bee-field-r11c1m0i11">
                      <div class="bee-button-container">
                        <button
                          id="r11c1m0i11"
                          name="submit"
                          type="submit"
                          value="SEND"
                        >
                          SEND
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w2">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-13">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-spacer">
                <div class="spacer" style="height: 60px"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-14">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height: 16px"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-15">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w2">
              <div class="bee-block bee-block-1 bee-image">
                <a href="https://www.example.com/">
                  <h1>Logo</h1>
                </a>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w8">
              <div class="bee-block bee-block-1 bee-menu">
                <nav class="bee-menu">
                  <ul class="bee-horizontal">
                    <li>
                      <a href="https://www.example.com/" target="_self" title=""
                        >About us</a
                      >
                    </li>
                    <span>|</span>
                    <li>
                      <a href="https://www.example.com/" target="_self" title=""
                        >Team</a
                      >
                    </li>
                    <span>|</span>
                    <li>
                      <a href="https://www.example.com/" target="_self" title=""
                        >Manifesto</a
                      >
                    </li>
                    <span>|</span>
                    <li>
                      <a href="https://www.example.com/" target="_self" title=""
                        >Services</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w2">
              <div class="bee-block bee-block-1 bee-social">
                <div class="content">
                  <span class="icon" style="padding: 0 2.5px 0 2.5px"
                    ><a href="https://www.facebook.com/"
                      ><img
                        alt="Facebook"
                        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/facebook@2x.png"
                        title="facebook" /></a></span
                  ><span class="icon" style="padding: 0 2.5px 0 2.5px"
                    ><a href="https://www.twitter.com/"
                      ><img
                        alt="Twitter"
                        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/twitter@2x.png"
                        title="twitter" /></a></span
                  ><span class="icon" style="padding: 0 2.5px 0 2.5px"
                    ><a href="https://www.linkedin.com/"
                      ><img
                        alt="Linkedin"
                        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/linkedin@2x.png"
                        title="linkedin" /></a></span
                  ><span class="icon" style="padding: 0 2.5px 0 2.5px"
                    ><a href="https://www.instagram.com/"
                      ><img
                        alt="Instagram"
                        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-only-logo-white/instagram@2x.png"
                        title="instagram" /></a
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-16">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height: 16px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
