.item-container {
  .item-card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    .movies-card {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      .movies-card-top {
        width: auto;
        video {
          width: 320px;
          border-radius: 20px;
        }
      }
      .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 45%;
      }
      .details {
        h3 {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .music-item-card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
    .music-card {
      display: flex;
      flex-direction: column;

      audio {
        display: none;
      }

      .icon {
        width: fit-content;
        background-color: rgb(54, 53, 53);
        padding: 50px;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        display: grid;
        place-items: center;

        .abstract {
          border-radius: 50%;
          background-color: #fff;
          padding: 20px;
        }

        .music-controls {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
      }
      .details {
        margin-top: 20px;
        color: #fff;
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}
