.loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .ring {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
  }
  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #38f2af;
    }
    50% {
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #38f2af;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #38f2af;
    }
  }
  span {
    color: #737373;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
  }
  @keyframes text {
    50% {
      color: white;
    }
  }
}

.skeleton {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  column-gap: 15px;
  row-gap: 25px;

  .skeleton-container {
    background: #272a34;
    padding: 3px 0;
    width: 145px;
    .card-img {
      width: 145px;
    }
    .card-line {
      &:nth-child(2) {
        margin-top: 15px;
      }
    }
  }
}
.shop-heading {
  width: 35%;
  margin: 0 auto;
}
.card-details-container {
  width: 80%;
  margin: 60px auto;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 40px;

  .card-details {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
  }
  .endLine {
    width: 75%;
    &:nth-child(1) {
      margin-top: 30px;
    }
  }
}

.shop-skeleton-container {
  .cardLine {
    &:nth-child(1) {
      margin-top: 10px;
    }
  }
}
.shop-skeleton-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 90px;
}
