.residual-container {
  .residual-container-sub-menu-container {
    .residual {
      width: 70%;
      height: 30px;
      margin-left: 55px;
    }
    .setResidual {
      margin: 12px auto;
    }
    .residualSelect {
      text-align: center;
      margin-left: 48px;
      width: 70%;
    }
    .add-getter-cont {
      margin-top: 30px;
      .residual-input {
        display: grid;
        grid-template-columns: 1.5fr 0.3fr;
        margin-left: 24px;
        gap: 10px;
        .address {
          width: 100%;
        }
        .share {
          width: 140%;
        }
      }
    }
    .residualPara {
      text-align: center;
      margin: 15px;
    }
    .residualBtn {
      margin: 5px auto;
      width: 32%;
    }
    .residual-Select {
      margin-left: 5px;
      width: 68%;
    }
    .residualRemoveBtn {
      width: 35%;
      margin: 20px auto;
    }
  }
}
