.physicall-item-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 0px;
  position: relative;
  overflow: hidden;

  .card {
    .card-shoes {
      p {
        color: #fff;
      }
    }
  }
  .card-overlay {
    background: rgba(0, 0, 0, 0.82);
    border-radius: 8px;
    width: 88%;
    height: 66%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    &:hover {
      top: 0;
      opacity: 9;
    }
  }
}
