.mint-nft-container {
  display: flex;
  padding: 0px 130px;
  color: var(--textColorOne);
  /* gap: 150px; */
}

.mint-nft-container .mint-nft-container-left {
  flex: 2;
  font-family: var(--oswaldFont);
  margin-bottom: 40px;
}

.mint-nft-container .mint-nft-container-left .box {
  width: 249px;
  border: 1px solid var(--borderColorTwo);
  border-radius: 10px;
  padding: 31px 38px;
  position: relative;
  margin-bottom: 34px;
}

.mint-nft-container .mint-nft-container-left .box .heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bgColor);
  padding: 5px 8px;
  width: 58%;
  margin: 0;
}

.mint-nft-container .mint-nft-container-left .box .content-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
  height: 100%;
}

.mint-nft-container .mint-nft-container-left .box .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mint-nft-container .mint-nft-container-left .box .content .name,
.number {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.mint-nft-container .mint-nft-container-left .select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.mint-nft-container .mint-nft-container-left .select-container select {
  width: 75%;
  background-color: transparent;
  border: 0;
  color: var(--textColorOne);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--oswaldFont);
  outline: 0;
  text-transform: uppercase;
}

.mint-nft-container .mint-nft-container-left .select-container select * {
  color: #333;
}

.mint-nft-container .mint-nft-container-right {
  /* flex: 4; */
  font-family: var(--oswaldFont);
  padding: 30px;
}

.mint-nft-container .mint-nft-container-right .heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
}

.mint-nft-container .mint-nft-container-right .box-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 65px 0 65px 65px;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-left
  .content-container,
.box-2 .box-left .content-container {
  display: flex;
  gap: 20px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-left,
.box-2 .box-left {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.mint-nft-container .mint-nft-container-right .box-1 .title,
.box-2 .title,
.box-3 .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-left .content-title {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-left .content-input {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-left
  .content-input
  input {
  width: 116px;
  height: 27px;
  background-color: var(--textColorOne);
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding: 0 8px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-left .content {
  display: flex;
  gap: 19px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-left .content input,
.box-3 .box-left .content input {
  width: 116px;
  height: 27px;
  background-color: var(--textColorOne);
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding: 0 8px;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-right {
  width: 384px;
  height: 273px;
  background-color: var(--bgColorTwo);
  border: 1px solid var(--textColorThree);
  border-radius: 5px;
  padding: 27px;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-right
  .custom-drop-down {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--textColorOne);
  position: relative;
  cursor: pointer;
}

.mint-nft-container .mint-nft-container-right .box-1 .box-right .arrow-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-right
  .drop-down-content {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: 0;
  opacity: 0;
  transition: all 0.2s;
  height: 100%;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-right
  .drop-down-content.active {
  height: auto;
  opacity: 1;
}

.mint-nft-container
  .mint-nft-container-right
  .box-1
  .box-right
  .drop-down-content.active
  p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-container {
  display: flex;
  gap: 150px;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-title {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-title .left {
  display: flex;
  align-items: center;
  /* gap: 14px; */
}

.mint-nft-container .mint-nft-container-right .box-2 .content-title .circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--textColorOne);
  border-radius: 50%;
  position: relative;
}

.mint-nft-container
  .mint-nft-container-right
  .box-2
  .content-title
  .circle.active::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--textColorOne);
  border-radius: 50%;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-input {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-input .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mint-nft-container
  .mint-nft-container-right
  .box-2
  .content-input
  .right
  input {
  width: 202px;
  height: 32px;
  background: var(--bgColorSix);
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0 16px;
  color: var(--textColorThree);
  margin-left: -3px;
}

.mint-nft-container
  .mint-nft-container-right
  .box-2
  .content-input
  .right
  input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--textColorThree);
  font-family: var(--oswaldFont);
}

.mint-nft-container
  .mint-nft-container-right
  .box-2
  .content-input
  .right
  .custom-select-box {
  width: 65px;
  height: 26px;
  border: 1px solid var(--textColorThree);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  padding: 0px 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.mint-nft-container
  .mint-nft-container-right
  .box-2
  .content-input
  .right
  .custom-select-box
  .arrow-icon,
.right-2 .arrow-icon {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(0%, -50%);
  font-size: 20px;
}

.mint-nft-container .mint-nft-container-right .box-2 .content-input .right-2 {
  width: 277px;
  height: 26px;
  border: 1px solid var(--textColorThree);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.mint-nft-container .mint-nft-container-right .box-3 {
  display: flex;
  align-items: center;
  gap: 150px;
  margin: 98px 0 98px 65px;
}

.mint-nft-container .mint-nft-container-right .box-3 .box-left .content {
  display: flex;
  gap: 32px;
}

.mint-nft-container .mint-nft-container-right .box-3 .box-right button {
  width: 155px;
  height: 38px;
  background: var(--textColorTwo);
  border: 1px solid var(--textColorTwo);
  box-shadow: 0px 0px 24px rgba(253, 230, 63, 0.4);
  border-radius: 999px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--textColorOne);
  cursor: pointer;
}

.mint-nft-container
  .mint-nft-container-right
  .box-3
  .box-right
  button:disabled {
  cursor: no-drop;
}
