.marketplace-card-container {
  .card {
    margin-left: 90px;
  }
  .cards-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    p {
      font-size: 16px;
      color: var(--textColorTwo);
    }
    button {
      border-radius: 999px;
      padding: 4px 12px 4px 12px;
      font-size: 8px;
      background-color: transparent;
      color: var(--textColorTwo);
      border-color: var(--textColorTwo);
      border-width: 1px;
      margin-left: 10px;
      width: 90%;
    }
  }
  .card-buy button {
    border-radius: 999px;
    padding: 4px 12px 4px 12px;
    font-size: 8px;
    background-color: transparent;
    color: var(--textColorTwo);
    border-color: var(--textColorTwo);
    border-width: 1px;
    margin-left: 10px;
    width: 90%;
  }
}
